    <header class="main-header">
      <div class="logo-container">
        <a routerLink="/" class="logo">
          <span class="logo-icon">📚</span>
          <span class="logo-text">Bibliothèque Centrale</span>
        </a>
      </div>
      
      <nav class="main-nav">
        <ul class="nav-list">
           <li class="nav-item">
            <a routerLink="/formulaire-etudiants" routerLinkActive="active" class="nav-link">
              <span class="nav-icon">👨‍🎓</span>
              <span class="nav-text">Étudiants</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/formulaire-abonnements" routerLinkActive="active" class="nav-link">
              <span class="nav-icon">📅</span>
              <span class="nav-text">Abonnements</span>
            </a>
          </li>
          
        </ul>
      </nav>
      
      
        
    </header>
  